html {
	background: url(http://i.imgur.com/HFVnM1r.jpg) no-repeat left center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Londrina Shadow', sans-serif; 
	font-size: 1.200em;
	opacity: 0.75;
	color: #E9967A;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: 3.5px;

}

h2 {
	font-size: 1.500em;
	color: #4FB69F;
}


ul.nav{
	margin: 45px 0 0 0;
	list-style: none;
}

ul.nav li {
	float: left;
	text-align: right;
	margin-right: 20px;
	letter-spacing: 1px;
}

ul.nav li a{
	color: #FAF3BC;
}

#soundcloud {
	margin-top: 5px;
}

#intro {
	margin: -40px 0 75px 0;
	font-size: 2.200em;
}

#new-cupcakes img {
	border: 8px solid #E9967A;
	margin: 0 0 20px 0;
}

#featured-cupcake {
	font-size: 1.250em;
	letter-spacing: 1.00px;
}
#featured-cupcake img {
	border: 8px solid #E9967A;
}

#The-Guide {
	margin: 15px 20px;
}

#copyright {
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}
/*
.btn color is same as font color because the anchor tag is overriding the
color to #4FB69F, so we're bringing it back. 
border-radius, higher the value, curvier the corners will be
.btn:hover (pseudoclass to change background color of hover)
float left makes it so that each list item is in line with one another instead
of blocking one another and pushing each element down to the next line

text-align is only used to align text in the box